<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://yqall02.baidupcs.com/file/4210c96eb6922fcd47eb6d269dbf5bc5?bkt=p3-00006b4ce837cb4df9de0d73c5258a083f2a&fid=1847733687-250528-266936249669061&time=1469783559&sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-2JAUpY3sZvlYmEEm%2Fr7fB6LbDXw%3D&to=yqhb&fm=Yan,B,T,t&sta_dx=33&sta_cs=0&sta_ft=ipa&sta_ct=0&fm2=Yangquan,B,T,t&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=00006b4ce837cb4df9de0d73c5258a083f2a&sl=68091982&expires=8h&rt=sh&r=755139365&mlogid=4887124966339850075&vuk=1847733687&vbdid=3366629263&fin=Interactive.ipa&fn=Interactive.ipa&slt=pm&uta=0&rtype=1&iv=0&isw=0&dp-logid=4887124966339850075&dp-callid=0.1.1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.exelook.exe666EF.001</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>疯看</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
