<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://qdcu01.baidupcs.com/file/8649734353df8f5692faa4d151973ed1?bkt=p3-0000eb67e6ba3aaa40f89b1e57b9e02e6abd&fid=1847733687-250528-986670720019459&time=1532925284&sign=FDTAXGERLQBHSK-DCb740ccc5511e5e8fedcff06b081203-1KYdg33E7xGY2IH2upYWYpJdapA%3D&to=65&size=17512698&sta_dx=17512698&sta_cs=0&sta_ft=ipa&sta_ct=0&sta_mt=0&fm2=MH%2CQingdao%2CAnywhere%2C%2Cshanghai%2Cct&resv0=cdnback&resv1=0&vuk=1847733687&iv=0&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=0000eb67e6ba3aaa40f89b1e57b9e02e6abd&sl=76480590&expires=8h&rt=sh&r=673947528&mlogid=4882648704321796601&vbdid=1615512576&fin=TPGuestSystem.ipa&fn=TPGuestSystem.ipa&rtype=1&dp-logid=4882648704321796601&dp-callid=0.1.1&hps=1&tsl=80&csl=80&csign=Q6XHDxqfMrvGkVjAm8I6487wgMw%3D&so=0&ut=6&uter=4&serv=0&uc=1110593372&ic=55430591&ti=21a1f951b2970d7007e403ac24b42a95038583e0642581c4&by=themis</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.abner.TPGuestSystem.s</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>太平访客</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
